<div [@routerTransition]>
    <button class="btn btn-primary noteBtn" (click)="openCompose()">create a note</button>
    <hr>
    <h3 class="">Recent Notes:</h3>
    <div *ngFor="let note of notes">
        <hr>
        <div class="note">
                <h5><b>{{note.name}}</b></h5>
                <small style="padding-left: 5px;" [innerHTML]="note.time"></small>
            <p [innerHTML]="note.content"></p>
        </div>
    </div>
    <div *ngIf="showModal" class="myModal">
        <div class="row gutter-0">
            <div class="col-md-10">
                <input type="text" placeholder="enter the name..." class="form-control inputName" id="noteName"/>
            </div>
            <div class="col-md-2" style="text-align: center; background-color: crimson; cursor: pointer;" (click)="closeCompose()">
                <img class="closeBtn" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHYSURBVGhD7ZjJSgNBEIajXlWIGncFX8QNL+4XX8KzL6CIiIiIRsHncTm5gRg3FJ/Cg5fEr0NV6CjEJJNkeqA++KmZ6pnu+mIOasowDMMwDMMIj0Kh0C6XDaMZe1Ykn8+vkWuSkVZk2GuS5MiEtJoLn1qHk6AWqA8ksgx7OIkvtydsSrv5cFgfB9+7U6PK8O6USlBPKW2y1Bo40Jd5JP2yVDW8Oh2rhMLhveROBnHf7wFZ+hde8SVOKPFIKAxRswzPzBCVyMYuoTBMD1GZJ8qgLP2B9VmiEseUMCQUhnIytzLgMxmSpRL0fImj4CQUhvNlXkhJhtYc9+FLKAyY/iUzzKUvcUgJW0Jh0DS5kcE/EymhMLD7yeScgIPrM1lKFgw+T77Fw4m8khFZTgYMvKAS1Cy5kus3kgwZBl0kKnEgvW7iy4wWHw4VBvQl9qVdhHsncxm8DIMtEZXYk3YZ9H2ZdxKWDAMtk4oSCutdxJcZk6V4YRBfYlfaFeG5sGQYYIWoxI60q4LnncyFvPtB4pHh4FVSl4TCe2UylHFZag0c6ktsS7su2KIzFhkOcv980L89tqQdCbZyMueyZ6QPpiY4LEPW5bYhiMwGNVm/VBqGYRiGYRhJIZX6AYRn6GJWa05DAAAAAElFTkSuQmCC">
            </div>
        </div> 
        <div class="row gutter-0">
            <div contenteditable="true" class="myArea" id="noteContent" [innerHTML]="textAreaContent"></div>
        </div>
        <div class="row gutter-0" style="border-top: 1px solid #333">
            <div class="col-md-2 addFile" (click)="uploadFiles()">
                <i class="fa fa-paperclip"></i>
            </div>
            <div class="col-md-2 addPhoto"  (click)="uploadPhotos()">
                <i class="fa fa-camera"></i>
            </div>
            <div class="col-md-8 addNote" (click)="addNote()">
                    + add note
            </div>
        </div>
    </div>
    <hr>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                <app-timeline></app-timeline>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <app-notification></app-notification>
            </div>
            <app-chat></app-chat>
        </div>
    </div>
</div>
